<fa-modifier fa-size="[30*faPagerCtrl.numSlides().length,20]" fa-align="[0.5,1]" fa-origin="[0.5,1]" fa-translate="[0,-50]">
    <fa-sequential-layout fa-options="{direction: 0}">
        <fa-modifier ng-repeat="slide in faPagerCtrl.numSlides() track by $index" fa-size="[30,20]" fa-opacity="faPagerCtrl.markerOpacity(faSlideBoxCtrl.distance($index))">
            <fa-modifier fa-align="[0.5,0.5]" fa-origin="[0.5,0.5]" fa-scale="faPagerCtrl.markerScale(faSlideBoxCtrl.distance($index))">
                <fa-surface class="text-center" ng-click="faSlideBoxCtrl.setActivePage($index)" fa-z-index="3">
                    <i class="icon ion-record"></i>
                </fa-surface>
            </fa-modifier>
        </fa-modifier>
    </fa-sequential-layout>
</fa-modifier>
